<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Curran Farm Chemicals Ltd." subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="images/homer.png"/>
  </div>
  <div class="column">
    <h1 class="title">Chemical Applicator Tracer by location using maps by POI</h1>
    <p>Help minimise over application of chemicals</p>
  </div>
</div>
